/* 

Deixar um bloco fixo, mesmo com rolagem ativada:
position: fixed;  

tirar bolas da lista :
list-style: none;

paletas de cores:
:root{
    --primary: #C94666;
    --secondary: #78293d;
    --hover:#5E2130;
    --dark:#17080C;
}

*/

*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --primary: #C94666;
    --secondary: #78293d;
    --hover:#5E2130;
    --dark:#17080C;
}

html{
    scroll-behavior: smooth;
}

section{
    padding: 5% 0 0 300px;
    max-width: 900px;
}


html,body,aside,main,section{
    height: 100%;
}
ul:not(#menu-list){
    padding: 0;
}

#profile-img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

#aside-wrap{
   background-image:  linear-gradient(to bottom right , var(--primary),var(--dark));
   width: 240px;
   padding: 100px 0px 0px 20px;
   position: fixed;  
}

#menu-list{
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    font-size: 18px; 
}

.menu-link:hover{
    border-bottom: 2px solid  ;
}
.menu-item{
   line-height: 3;
}


/* Section-home*/

#home .section-title{
    font-size: 56px;   
}
#home .email-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
}
#home .section-description{
    font-size: 18px;
    line-height: 1.3;
    margin: 10px 0px;
}

/* links de redes-sociais */

ul#social-links{
    list-style: none;
    display: inline-block;
    padding: 0px;
}

ul#social-links > li{
    margin-right: 10px;
    display: inline-block;
    background-color: var(--secondary);
}

ul#social-links > li > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 26px;

}
ul#tec-links{
    list-style: none;
    display: inline-block;
    padding: 0px;
}
ul#tec-links > li{
  margin-right: 10px;
  display: inline-block;
}
ul#tec-links > li > a{
  color: var(--secondary);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: 50px;

}

/* Experiencias */
#experience > h4{
  color: var(--secondary);
  margin: 15px 0px 0px 0px ;
  font-weight: bolder;
}
#experience > .date{
  font-size: 15px;
  margin: 0px;
}

/* projects */
#projects > a{
  color: var(--secondary);
}
#projects > p{
  font-size: 12px;
}


.menu-label,#menu-check {
    display: none;
}

/*display do mobile*/


@media (max-width:600px){
     
  section {
    padding: 10px;
  }

  #aside-wrap {
    display: block;
    width: 100%;
    height: 250px;
    padding: 0;
    margin-top: -280px;
    transition: all 1s;
  }

  #aside-wrap #menu-list {
    padding: 10px;
  }

  #aside-wrap #menu-item {
    line-height: 2.5;
  }

  #profile-img {
    display: none;
  }

  .menu-label {
    padding: 10px;
    border: 1px solid;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    margin: 5px;
    z-index: 1;
    font-size: 20px;
  }

  #menu-check {
    display: none;
  }

  #menu-check:checked + #aside-wrap {
    margin: 0;
  }

}